n8n-docker-version/backend/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=user123 {{ $json.body.reflection }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "cff30ce1-ee9d-42a6-b701-9925d26de727",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "user123",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        340,
        200
      ],
      "id": "3f4bda4c-a060-4665-a810-f0bbde5b0ad2",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "LXk3l22KB7i8yLZ7",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "08109d18-ae3c-43df-b097-0f0107624158",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "93605a4f-816e-434c-92b5-cf1a5087df24",
      "name": "Webhook",
      "webhookId": "08109d18-ae3c-43df-b097-0f0107624158"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        220
      ],
      "id": "80c017b1-8a86-478d-b8fc-4751f7b2452f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p7zV2HLApuKAzBg4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        580,
        0
      ],
      "id": "0fdea24d-b73e-47b3-98d2-7b100da84b88",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f527f30-30ce-4947-ac61-78e910d446b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b5add8e4b47e5290beb88b7c30bc25e20e3aae59493170527f5f03306a92ddb"
  },
  "id": "VqfqciRp4SgBV7Jb",
  "tags": []
}